<h2 mat-dialog-title>Thêm món ăn mới</h2>
<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Tên món ăn</mat-label>
    <input matInput formControlName="name" required />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Mô tả</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Chọn ảnh món ăn</mat-label>
    <input type="file" (change)="onFileChange($event)" required />
  </mat-form-field>

  <!-- <div *ngIf="imagePreview">
    <h3>Ảnh đã chọn:</h3>
    <img [src]="imagePreview" alt="Ảnh món ăn" width="100" />
  </div> -->

  <div mat-dialog-actions>
    <button mat-button (click)="onClose()">Hủy</button>
    <button mat-button type="submit" [disabled]="foodForm.invalid">
      Thêm món ăn
    </button>
  </div>
</form>
