<h2 mat-dialog-title>Thêm món ăn mới</h2>
<form [formGroup]="foodForm" (ngSubmit)="onSubmit()">
  <div>
    <label>Tên món ăn</label>
    <input formControlName="name" required />
  </div>
  <div>
    <label>Mô tả</label>
    <input formControlName="description" />
  </div>

  <div>
    <label>Giá</label>
    <input formControlName="price" />
  </div>

  <div>
    <label>Chọn ảnh món ăn</label>
    <input type="file" (change)="onFileChange($event)" required />
  </div>

  <div *ngIf="imagePreview">
    <h3>Ảnh đã chọn:</h3>
    <img [src]="imagePreview" alt="Ảnh món ăn" width="100" />
  </div>

  <div mat-dialog-actions>
    <button style="background-color: red" (click)="onClose()">Hủy</button>
    <button mat-button type="submit" [disabled]="foodForm.invalid">
      Thêm món ăn
    </button>
  </div>
</form>
