.food-list-container {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  max-width: 800px;
  margin: 0 auto;

  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4caf50;
  }
}

.food-list {
  list-style-type: none;
  padding: 0;

  .food-item {
    display: flex;
    align-items: center;
    background: #fff;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;

    &:hover {
      transform: translateY(-5px);
    }

    .food-image {
      width: 100px;
      height: 100px;
      border-radius: 8px;
      margin-right: 15px;
      object-fit: cover;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .food-details {
      flex: 1;

      h3 {
        margin: 0 0 5px;
        color: #333;
      }

      p {
        margin: 5px 0;
      }

      .price {
        font-weight: bold;
        color: #2196f3;
      }

      button {
        background-color: #4caf50;
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #45a049;
        }
      }
    }
  }
}
.image-container {
  width: 300px; /* Kích thước của khối chứa */
  height: 200px;
  border: 1px solid #ccc;
}

.image-container img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
